<!doctype html>
<html lang="ja">
    <head>
        <meta charset="urf-8">
        <link rel="stylesheet" href="style.css">
        <title>Comment</title>
    </head>

    <body>
        <h1></h1>
        <p>Any Comment?</p>
        <form method="post">
            {% csrf_token %}
            <table>
                <tr><td>{{form}}</td><td></td></tr>
                <tr><td></td><td>
                    <button type="submit">POST</button>
                </td></tr>
            </table>
        
        
        </form>
    </body>
</html>