{% load static %}
<!doctype html>
<html lamg="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'colored_table.css' %}">
        <title>{{title}}</title>
    </head>

    <body>
        <h1>{{title}}</h1>
        <p></p>
        <form method="post">
            {% csrf_token %}
            <table>
                <tr><th>ID</th><th>NAME</th><th>DATE</th><th>TIME</th><th>Clock...</th><th>JOB</th><th>COMMENT</th><th></th></tr>
                {% for item in table %}
                <tr>
                    <td>{{item.EMPLOYEE_ID}}</td><td>{{item.NAME}}</td><td>{{item.DATE}}</td><td>{{item.TIME}}</td>
                    <td>{{item.IN_OR_OUT}}</td><td>{{item.JOB_DESCRIPTION}}</td><td>{{item.comment}}</td>
                    <td><a href="{% url 'approve_post_report' item.id %}">SELECT</a></td>
                    
                </tr>
                {% endfor %}
            </table>

        </form>

    </body>
</html>