{% extends "currender.html" %}
{% load static %}
<!doctype html>

    {% block currender %}
        <h1>{{title}}</h1>
        <p>{{YEAR_MONTH}}</p>
        <!--申請内容-->
        <form action="">
            <table>
                <tr><td>{{REPORT.employee_ID}}</td><td>{{REPORT.employee_name}}</td></tr>
                <tr><td>{{REPORT.date}}</td><td>{{REPORT.time}}</td><th>Clock </th><td>{{REPORT.in_or_out}}</td></tr>
                <tr>JOB: {{REPORT.job_description}}</tr>
                <tr><th>COMMENT: </th><td>{{REPORT.comment}}</td></tr>
            </table>
            <button type="submit">APPROVE</button>
        </form>
        <br>
        <br>
    {% endblock %}
