<!doctype html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>

        </title>
    </head>
    <body>
        <p>Which unit?</p>
        <table>
            <tr>
                <td><button type="submit" name="daily">Daily Calculation</button></td>
                <td><button type="submit" name="indivisual">Indivisual Calculation</button></td>
            </tr>
        </table>
    </body>
</html>
