<!doctype html>
{% load static %}
<html lang='ja'>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{message}}</p>
        <table>
            {% for key, value in choice.items %}
            <tr><td>{{value|safe}}>{{key}}</a>
            </td></tr>
            {% endfor %}
        </table>

        <br>
        <br>
        {% if position == employer %}
        <form action="{% url 'employer_menue' %}" method="post">
        {% elif position == employee %}
        <form action="{% url 'employee_menue' %}" method="post">
        {% endif %}
            {% csrf_token %}
            <button type="submit" name="log_out_button">LOG-OUT</button>
        </form>

    </body>

</html>